@import url("https://v1.fontapi.ir/css/Shabnam");

// :root {
// 	--color-primary: #eb2f64;
// 	--color-primary-light: #ff3366;
// 	--color-primary-dark: #ba265d;

// 	--color-grey-light-1: #faf9f9;
// 	--color-grey-light-2: #f4f2f2;
// 	--color-grey-light-3: #f0eeee;
// 	--color-grey-light-4: #ccc;

// 	--color-grey-dark-1: #333;
// 	--color-grey-dark-2: #777;
// 	--color-grey-dark-3: #999;

// 	--shadow-dark: 0 2rem 6rem rgba(197, 197, 197, 0.3);
// 	--shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
// 	--line: 1px solid var(--color-grey-light-2);
// }

html {
	font-family: "Shabnam", sans-serif;
}

.home {
	&__header {
		&--title {
			font-size: 3.5rem;
			color: $color-primary;
			text-shadow: 0rem 0.2rem 0 $color-tertiory;
			cursor: default;
		}
	}
}

.home {
	&__content {
		&__header {
			&--title {
				font-size: 2rem;
				color: $color-primary;
				text-shadow: 0rem 0.2rem 0 $color-tertiory;
				cursor: default;
			}

			&--paragraph {
				font-size: 1.6rem;
				text-align: justify;
				color: $color-grey-dark-2;
			}
		}

		&__info,
		&__test,
		&__buy,
		&__support {
			&--icon {
				fill: $color-grey-dark-2;
			}
			&--title {
				font-size: 1.8rem;
				color: $color-primary;
				text-shadow: 0rem 0.15rem 0 $color-tertiory;
			}

			&--paragraph {
				font-size: 1.4rem;
				color: $color-grey-dark-2;
			}
		}
	}
}

.app {
	&__nav {
		&-link {
			font-size: 2rem;
			color: $color-grey-dark-2;
		}
		& .copyright {
			font-size: 1.1rem;
			letter-spacing: 1px;
		}
		& .chapar {
			font-size: 1rem;
			letter-spacing: 1px;
		}
	}
}

.apps {
	&__automation,
	&__personnel,
	&__store,
	&__phone {
		&__header {
			&--title {
				font-size: 2rem;
				color: $color-primary;
				text-shadow: 0rem 0.2rem 0 $color-tertiory;
				cursor: default;
			}
		}
		&__content {
			color: $color-grey-dark-2;
			font-size: 1.2rem;

			&--item:nth-child(even) {
				padding-right: 1rem;
			}
			&--link {
				color: $color-primary;
				font-size: 1.5rem;
			}
		}
	}
}
.downloads {
	&__versions {
		&__free,
		&__demo {
			color: $color-grey-dark-2;
			&--title {
				font-size: 1.6rem;
				color: $color-primary;
				text-shadow: 0rem 0.2rem 0 $color-tertiory;
				cursor: default;
			}
			&--item {
				font-size: 1.2rem;
			}
		}
	}
	&__database,
	&__sql,
	&__install,
	&__others {
		&--title {
			font-size: 1.3rem;
			color: $color-primary;
			text-shadow: 0rem 0.2rem 0 $color-tertiory;
			cursor: default;
		}
		&--link {
			color: $color-primary;
			font-size: 1.3rem;
			cursor: pointer;
		}
		&--content {
			font-size: 1.2rem;
			color: $color-grey-dark-2;
		}
	}
}

.important {
	font-weight: 700;
}

.buy {
	color: $color-grey-dark-2;
	&--title {
		font-size: 1.8rem;
		color: $color-primary;
		text-shadow: 0rem 0.2rem 0 $color-tertiory;
		cursor: default;
		text-align: center;
	}
	&__step-1,
	&__step-2,
	&__step-3,
	&__step-4 {
		display: grid;
		grid-template-columns: 10% 1fr;
		&--title {
			font-size: 1.4rem;
			color: $color-primary;
			text-shadow: 0rem 0.2rem 0 $color-tertiory;
			cursor: default;
		}
		&--content {
			font-size: 1.3rem;
			color: $color-grey-dark-2;
		}
	}
}

.support {
	color: $color-grey-dark-2;

	&__details,
	&__waranty,
	&__post,
	&__apps {
		& svg {
			fill: $color-primary;
		}
		&--link {
			& svg {
				fill: $color-primary;
			}
			color: $color-primary;
			font-size: 1.3rem;
			cursor: pointer;
		}
	}

	&__details {
		&--title {
			font-size: 2rem;
			color: $color-primary;
			text-shadow: 0rem 0.2rem 0 $color-tertiory;
			cursor: default;
		}
		&--content {
			font-size: 1.6rem;
		}
		&--list {
			font-size: 1.5rem;
			list-style: none;
		}
	}
	&__waranty {
		&--list {
			list-style: none;
		}
	}

	&__apps {
		&--list {
			list-style: none;
		}
		&--item {
			font-size: 1.5rem;
		}
	}
}

.customers {
	&__city {
		.btn-city {
			font-size: 2rem;
		}
		&--item {
			font-size: 1.7rem;
		}
	}
}

.contact-us {
	color: $color-grey-dark-2;

	&__phone,
	&__request {
		&--title {
			font-size: 2rem;
			color: $color-primary;
			text-shadow: 0rem 0.2rem 0 $color-tertiory;
			cursor: default;
		}
		&__form {
			&__group {
				&--input {
					font-family: "Shabnam", sans-serif;
					font-size: 1.3rem;
				}
				&--submit {
					font-family: "Shabnam", sans-serif;
				}
			}
		}
		&--list {
			font-size: 1.6rem;
		}
	}
}
.about-us {
	&--title,
	&__company--title {
		font-size: 2rem;
		color: $color-primary;
		text-shadow: 0rem 0.2rem 0 $color-tertiory;
		cursor: default;
	}
}
